.env
.env.local
.env.production
node_modules/
uploads/
*.log
dist/
build/
.DS_Store
pycache/
venv/
lib/
bin/
include/
Scripts/
tcl/
share/
lib64/
python*
pip*
wheels/
share/
include/
tcl/
python3*
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
